src/main/mule/salesforce-accounts-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="salesforce-accounts-api-config" api="salesforce-accounts-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="salesforce-accounts-api-main">
        <http:listener config-ref="salesforce-accounts-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="salesforce-accounts-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="salesforce-accounts-api-console">
        <http:listener config-ref="salesforce-accounts-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforce-accounts-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:salesforce-accounts-api-config">
        <set-variable value="#[&quot;fetchAccountsGet_flow&quot;]" doc:name="setFlowName" doc:id="dc01ddd4-7537-4fd3-be6e-92e4c3c3fb30" variableName="flowNameVar" />
        <logger level="INFO" doc:name="flowEntryLogger" doc:id="4e771cb3-1350-4220-bcda-869a3f4bcb10" message="#[&quot; Started Flow: &quot; ++ vars.flowNameVar]" />
        <flow-ref doc:name="getAccountsFlowSub_FlowReference" doc:id="4bf2fc4e-72cd-4651-a850-208b43eb2bf4" name="getAccountsFlowSub_Flow" />
        <logger level="INFO" doc:name="flowExitLogger" doc:id="78f16c28-9b26-414f-a078-5a2db13e035e" message="#[&quot; Completed Flow: &quot; ++ vars.flowNameVar]" />
    </flow>
    <flow name="post:\accounts:application\json:salesforce-accounts-api-config">
        <set-variable value="#[&quot;createAccountsPost_flow&quot;]" doc:name="setFlowName" doc:id="b76c34c5-dfd0-4318-98aa-02abf73a1c33" variableName="flowNameVar" />
        <logger level="INFO" doc:name="flowEntryLogger" doc:id="62d1399c-e7cd-4c40-8190-d99d182da0fd" message="#[&quot; Started Flow: &quot; ++ vars.flowNameVar]" />
        <flow-ref doc:name="createAccountsPostFlowSub_FlowReference" doc:id="19fd79ad-3d86-40da-b41f-975b00b16174" name="createAccountsPostFlowSub_Flow" />
        <logger level="INFO" doc:name="flowExitLogger" doc:id="d741bb0c-ff12-4e0c-a896-1c045bf1989e" message="#[&quot; Completed Flow: &quot; ++ vars.flowNameVar]" />
    </flow>
    <flow name="put:\accounts:application\json:salesforce-accounts-api-config">
        <set-variable value="#[&quot;updateAccountsPut_flow&quot;]" doc:name="setFlowName" doc:id="c7bd59d6-a68a-4c4b-b412-27ece645801f" variableName="flowNameVar" />
        <logger level="INFO" doc:name="flowEntryLogger" doc:id="a5288997-15d6-4b3e-9d31-e7d911615d17" message="#[&quot; Started Flow: &quot; ++ vars.flowNameVar]" />
        <flow-ref doc:name="putAccountByIdSub_FlowReference" doc:id="8f0e33dc-c57d-4f97-90b7-59054565cad5" name="updateAccountsSub_Flow" />
        <logger level="INFO" doc:name="flowExitLogger" doc:id="404431c3-c6ae-4429-9b1d-31c64134f291" message="#[&quot; Completed Flow: &quot; ++ vars.flowNameVar]" />
    </flow>
    <flow name="get:\accounts\(Name):salesforce-accounts-api-config">
        <set-variable value="#[&quot;fetchAccountGetByName_flow&quot;]" doc:name="setFlowName" doc:id="9fb813e7-ab96-4bb7-831f-663580df4317" variableName="flowNameVar" />
        <logger level="INFO" doc:name="flowEntryLogger" doc:id="66aabb51-42fd-490b-a0a6-f54f11796542" message="#[&quot; Started Flow: &quot; ++ vars.flowNameVar]" />
        <flow-ref doc:name="getAccountByIdSub_FlowReference" doc:id="e644db0d-4d4e-4315-8a4e-fa09269bff37" name="getAccountByNameSub_Flow" />
        <logger level="INFO" doc:name="flowExitLogger" doc:id="0be73c81-e922-4fc8-87fe-b9d5fade8dcb" message="#[&quot; Completed Flow: &quot; ++ vars.flowNameVar]" />
    </flow>
    <flow name="delete:\accounts\(Name):salesforce-accounts-api-config">
        <set-variable value="#[&quot;deleteAccountByName_flow&quot;]" doc:name="setFlowName" doc:id="e6a7dedb-ffc3-4c54-868e-a71b75ddc13a" variableName="flowNameVar" />
        <logger level="INFO" doc:name="flowEntryLogger" doc:id="97ead850-7400-4aca-86e5-470b42256ea5" message="#[&quot; Started Flow: &quot; ++ vars.flowNameVar]" />
        <flow-ref doc:name="DeleteAccountFlowByIdSub_FlowReference" doc:id="1a75668e-eafa-4600-a560-d13024bf8860" name="deleteAccountFlowByIdSub_Flow" />
        <logger level="INFO" doc:name="flowExitLogger" doc:id="a4ded483-3fba-426f-85a6-796199319eb5" message="#[&quot; Completed Flow: &quot; ++ vars.flowNameVar]" />
    </flow>
    <flow name="post:\accounts:salesforce-accounts-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account Created Successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
